div(class="exercise" :class="{'text-white bg-danger': error, 'answer-pending' : isCorrect === undefined, 'answer-correct' : isCorrect === true, 'answer-wrong' : isCorrect === false, 'spinner' : waiting }")
    form(v-on:submit.prevent="checkAnswer")
        div(class="header")
            div(class="title") Oppgave {{ number }}

        div(class="card-body" v-if="error") Error: {{error}}

        div(class="card-body" v-if="id")
            block content

        div(class="card-footer" v-if="id")
            button(class="btn checkAnswerBtn" type="submit")
                transition(name="bounce" mode="out-in")
                    div(v-if="waiting" key="waiting")
                        <i class="fa fa-cog fa-spin fa-fw"></i>
                    div(v-else-if="isCorrect === true" key="true")
                        <i class="fa fa-check-circle" aria-hidden="true"></i> <span>Riktig</span>
                    div(v-else-if="isCorrect === false" key="false")
                        <i class="fa fa-times-circle" aria-hidden="true"></i> <span>Galt</span>
                    div(v-else key="rest")
                        <span> Sjekk svar</span>
