
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// PT Serif er elegant og går bra med MathJax-fonten,
// men kanskje litt kjedelig.
$font-family-serif: 'PT Serif', serif;

// Lora er litt mer spennende, men matcher MathJax-fonten dårligere.
// Brukes av Nature.
// $font-family-serif: 'Lora', serif;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

$font-size-base: 1.125rem;
$line-height-base: 1.6;
$text-color: #636b6f;
