// vi:noexpandtab
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "_variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*******************************************************************
 * Quiz
 *******************************************************************/

.quiz h4
	font-size: 18px


/*******************************************************************
 * Overall page layout
 *******************************************************************/

body
	padding-bottom: 0cm
	overflow-y: scroll  // to avoid center-column from jumping when scrollbar appears
	padding-color: black

#app
    margin-top: 2em

.container-fluid
	max-width: 960px

.uio-banner
	background-size: 100%
	background-position: center center;
	background-margin: 0 auto
	background-repeat: no-repeat
	opacity: 1
	position: relative

	h1
		bottom: 6px
		position: absolute
		font-weight: 200

		small
			font-size: 70%
			font-weight: 200

		a
			color: black;
			&:hover
				text-decoration: none;

.module
	h3
		font-size: 1.6rem

#footer
	background-color: black

	> div
		background-size: 90%
		background-position: center center
		background-repeat: no-repeat

.header-text
	background-color: black
	color: white
	font-family: helvetica


@media (max-width: 1200px)
	#app, #footer > div
		margin-left: auto

@media (min-width: 1200px)
	#app, #footer > div
		margin-left: 10vw


@media (max-width: 900px)
	.uio-banner
		height: 22vw

		h1
			font-size: 8vw

	.module
		.header
			height: 20vw
		h2
			font-size: 7vw
			bottom: 4vw

	#footer
		margin-top: 0

		> div
			height: 26vw
			opacity: 1


@media (min-width: 900px)
	.uio-banner
		height: 198px

		h1
			font-size: 72px

	.module
		> .header
			height: 220px
		h2
			font-size: 63px
			bottom: 36px

	#footer
		margin-top: 3em

		> div
			height: 234px
			opacity: 1


.module
	> .header
		display: block
		width: 100%
		border: none
		border-radius: 3px 3px 0 0
		background-size: 100%
		background-color: transparent
		background-repeat: no-repeat
		background-position: center center
		transition: filter 0.3s, opacity 0.3s, border-radius 0.8s
		opacity: 1
		cursor: pointer
		position: relative

		&.collapsed
			border-radius: 3px 3px 0 0

		&:hover
			opacity: 0.8
			filter: grayscale(50%)
			transition: filter 0.3s, opacity 0.3s

		h2
			max-width: 960px
			position: absolute
			color: white
			text-shadow: 0 0 10px #000
			margin: 0 auto
			padding: 0 .5em
			cursor: pointer


/*******************************************************************
 * Corner ribbons. Source: https://codepen.io/eode9/pen/twkKm
 *******************************************************************/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

/* The ribbons */

$ribbonsize: 28vw
$ribbonsize_f: 252px

@media (max-width: 900px)
  .corner-ribbon
    width: $ribbonsize
    background: #e43;
    position: absolute;
    top: $ribbonsize * 0.125
    left: - $ribbonsize * 0.25
    text-align: center;
    line-height: $ribbonsize * 0.2
    letter-spacing: 1px;
    color: #f0f0f0;
    font-size: $ribbonsize * 0.08
    font-family: "Noto Sans"
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

@media (min-width: 900px)
  .corner-ribbon
    width: $ribbonsize_f
    background: #e43;
    position: absolute;
    top: $ribbonsize_f * 0.125
    left: - $ribbonsize_f * 0.25
    text-align: center;
    line-height: $ribbonsize_f * 0.2
    letter-spacing: 1px;
    color: #f0f0f0;
    font-size: $ribbonsize_f * 0.08
    font-family: "Noto Sans"
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

/* Custom styles */

.corner-ribbon.sticky
  position: fixed
  z-index: 10

.corner-ribbon.shadow
  box-shadow: 0 0 3px rgba(0,0,0,.3);


/* Colors */

.corner-ribbon.white
  background: #f0f0f0; color: #555;
.corner-ribbon.black
  background: #333;
.corner-ribbon.grey
  background: #999;
.corner-ribbon.blue
  background: #39d;
.corner-ribbon.green
  background: #2c7;
.corner-ribbon.turquoise
  background: #1b9;
.corner-ribbon.purple
  background: #95b;
.corner-ribbon.red
  background: #e43;
.corner-ribbon.orange
  background: #e82;
.corner-ribbon.yellow
  background: #ec0;
