
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

body
	padding-bottom: 0cm
	overflow-y: scroll	
	background-color: black
	padding-color: black

.container-fluid
	max-width: 960px

.uio-banner
	background-size: 100%
	background-color: white
	background-position: center center;
	background-margin: 0 auto
	background-repeat: no-repeat
	opacity: 1
	position: relative

	h1
		bottom: 0
		position: absolute
		font-weight: 200

.uio-footer
	background-color: black

	> div
		background-size: 90%
		background-position: center center;
		background-margin: 10vw
		background-padding: 20vw
		background-repeat: no-repeat
		height: 22vw
		opacity: 1

.header-text
	background-color: black
	color: white
	font-family: helvetica


@media (max-width: 1200px)
	#app
		margin-left: auto

@media (min-width: 1200px)
	#app
		margin-left: 10vw


@media (max-width: 900px)
	.uio-banner
		height: 22vw

		h1
			font-size: 8vw

	.module
		> .header
			height: 26vw
		h2
			font-size: 7vw
			bottom: 4vw

	.uio-footer
		margin-top: 0


@media (min-width: 900px)
	.uio-banner
		height: 198px

		h1
			font-size: 72px

	.module
		> .header
			height: 234px
		h2
			font-size: 63px
			bottom: 36px

	.uio-footer
		margin-top: 3em


.module
	> .header
		border-radius: 0 0 3px 3px
		background-size: 100%
		background-repeat: no-repeat
		background-position: center center
		transition: filter 0.3s, opacity 0.3s
		opacity: 1
		cursor: pointer

		&.collapsed
			border-radius: 0

		&:hover
			opacity: 0.8
			filter: grayscale(50%)
			transition: filter 0.3s, opacity 0.3s

		> div
			max-width: 960px
			height: 100%
			position: relative
			margin: 0 auto

		h2
			position: absolute
			color: white
			text-shadow: 0 0 1vw #666
			margin: 0 auto
			cursor: pointer
